body {
  background-color: #d9d9d9;
}

.container {
  font-family: "Roboto", sans-serif;
  max-width: 55%;
}

.topButtons {
  margin-top: 40px;
  margin-bottom: 20px;
}

.enterYourCity,
.search,
.degreesButtons {
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
}

.enterYourCity {
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
}

.search {
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.search:hover {
  background-color: #b6b6b6;
}

.degreesButtons {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.degreesButtons:hover {
  background-color: #b6b6b6;
}

.topCardRow {
  padding-bottom: 10px;
}

.currentLocationButton {
  float: right;
  font-style: italic;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  display: inline;
}

.link {
  text-decoration: none;
  color: black;
}

.location {
  padding: 0 30px;
}

.locationCity {
  font-size: 2.6vw;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.locationCityName {
  padding-left: 18px;
}

.locationCountry {
  margin-bottom: 0;
  margin-left: 50px;
  font-size: 1.82vw;
  padding: 0;
}

.date {
  margin-left: 40px;
}

.todayWeather {
  padding: 0 30px 30px;
}

.todayTemp {
  font-size: 1.9vw;
  font-weight: 700;
  margin: 0;
  padding: 0 10px;
}

.todayTempUnits {
  font-size: 1.9vw;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.todayWeatherImage {
  padding-left: 0;
}

.todayForecast {
  padding-left: 25px;
}

.todaySummary,
.todayHighLow {
  font-size: 1.3vw;
  margin: 0;
  font-style: italic;
}

.detailsTitle {
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 0;
}

.stats {
  margin-bottom: 8px;
}

.detailsTitle,
.stats {
  font-size: 1.041667vw;
  text-align: center;
}

.humidityStats {
  margin-bottom: 30px;
}

.weeklyForecast,
.highLowWeek {
  font-size: 1.041667vw;
}

.col-sm-2 {
  text-align: center;
}

.day {
  margin: 0;
  font-size: 1.041667vw;
}

.forecastImages {
  padding-bottom: 10px;
}

.highLowWeek {
  margin-bottom: 10px;
}

.gitHubLink {
  text-align: center;
}
